extends layout

block content
  div(ng-app="meetup", ng-controller="meetupController")
    ul
      li(ng-repeat="meetup in meetups") {{meetup.name}}
    form
      input(type="entry")
      button Add